.article {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  height: auto;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.showArticle {
  width: 50%;
  position: relative;
  max-width: 600px;
  border-radius: 30px;
  box-shadow: 0 30px 50px #17457a6e;
}
.showArticle img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-position: center;
  object-fit: cover;
}
.showArticle .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 40px;
  bottom: 40px;
  z-index: 100;
  gap: 20px;
  margin-left: 40px;
}
.showArticle .content .cate {
  display: flex;
  gap: 5px;
}
.showArticle .content .cate span {
  background-color: #6d5dd3d0;
  color: var(--text-color);
  width: fit-content;
  padding: 1px 15px;
  border-radius: 10px;
}
.showArticle .content h4 {
  color: var(--text-color);
  font-size: 1.2rem;
}
.showArticle .content p {
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 200;
  width: 80%;
  text-align: start;
}
.showArticle .content button {
  color: var(--text-color);
  background-color: var(--purple-color);
  transition: 0.3s 0.3s ease-in-out;
  width: 150px;
  height: 45px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}
.showArticle .arrow {
  position: absolute;
  top: 40px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.showArticle .arrow span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.liner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(
    180deg,
    rgba(103, 105, 110, 0.041) 0%,
    rgba(58, 62, 69, 0.116) 40.57%,
    rgba(27, 29, 33, 0.795) 91.59%,
    rgb(27, 29, 33) 100%
  );
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.showArticles {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.showArticles .itme {
  max-width: 600px;
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--box-color);
  border-radius: 30px;
  gap: 20px;
  box-shadow: 0 0 20px rgba(53, 141, 255, 0.096);
  align-items: center;
  transition: 0.3s 0.2s ease;
}
.showArticles .itme .img {
  width: 281px;
  height: 220px;
  border-radius: 28px;
}
.img img {
  width: 100%;
  height: 100%;
}
.showArticles .itme .content {
  width: 281px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  align-items: flex-start;
}
.showArticles .itme .content .cate {
  display: flex;
  justify-content: flex-start;
  transition: 0.3s 0.3s ease-in-out;
  gap: 6px;
}
.showArticles .itme .content .cate span {
  background-color: var(--bg-color);
  padding: 1px 15px;
  color: var(--purple-color);
  transition: 0.3s 0.3s ease-in-out;
  border-radius: 10px;
}
.showArticles .itme .content h4 {
  font-size: 1rem;
  font-weight: 500;

  color: var(--text-color);
}
.showArticles .itme .content div {
  display: flex;
  align-items: center;
  gap: 6px;
}
.showArticles .itme .content div span {
  color: var(--gray-color);
  transition: 0.3s 0.3s ease-in-out;
  font-size: 0.8rem;
}
.showArticles .itme .content button {
  color: var(--text-color);
  background-color: var(--gray2-color);
  transition: 0.3s 0.3s ease-in-out;
  width: 150px;
  height: 45px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}
.showArticles .itme:hover {
  background-color: #6c5dd34a;
}
.showArticles .itme:hover .content button {
  background-color: var(--purple-color);
}
.showArticles .itme:hover div span {
  color: var(--purple-color);
}

.showArticles .itme:hover .cate span {
  color: var(--text-color);
  background-color: var(--purple-color);
}

@media screen and (max-width: 1100px) {
  .article {
    padding: 0 30px;
    display: flex;
    justify-content: center;
  }
  .showArticle {
    width: 100%;
    position: relative;
    max-width: 100%;
    height: 600px;
  }
  .showArticles {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .article {
    padding: 0 20px;

  }
}